/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

section {
    background-color:gray;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color:cadetblue;
    border-radius:5px;
    border: solid burlywood;
    overflow: hidden;
}

.display {
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}

.display-1 {
    opacity: 0.4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}

.temp-result {
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: 0.4;
}

.all_buttons {
    color: black;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr) ;
}

.button {
    border: 0.5px solid salmon;
    display: inline-block;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: slategrey;
}

.btn-0 {
    display: grid;
    grid-column: 1/3;
}


